@use "header";

.footer {
   border-top: 1px solid #333;
   background: #fffcf8;
   width: 100%;
   margin: 48px 0 8px 0;
   padding-top: 40px;
   display: flex;
   justify-content: space-evenly;

   &__nav {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
   }

   &__item {
      list-style: none;
      margin-bottom: 8px;
   }

   &__link {
      color: header.$link-color;
      text-decoration: none;
      &:hover {
         color: header.$hover-color;
      }
      &:focus {
         color: header.$focus-color;
      }
      &:active {
         color: header.$active-color;
      }
   }

   &__icons {
      display: flex;
      flex-direction: column;
   }

   &__copyright {
      font-size: 0.8rem;
      align-self: flex-end;
   }
}
