@use "fonts";

$link-color: #333;
$hover-color: #ffd829;
$focus-color: #a8e6cf;
$active-color: #ffcc00;

.header {
   position: fixed;
   top: 0;
   width: 100%;
   background: #fffaf6;
   transition: transform 0.4s ease-in-out;
   overflow: hidden;
   border-bottom: 1px solid #333;
   z-index: 1;

   &__container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 20px;
   }

   &__logo {
      font-family: fonts.$title-font;
      font-size: 1.5rem;
      font-weight: bold;
      color: #333;
      text-decoration: none;
      margin: 0;
      transition: transform 0.3s ease-in-out;
      &:hover {
         transform: scale(1.02);
      }
   }

   &__logo-span {
      font-weight: 400;
   }
}

.header.hidden {
   transform: translateY(-100%);
}

.btn {
   background: #fff;
   padding: 10px 20px;
   border-radius: 35px;
   border: 1px solid #000;
   letter-spacing: 0.1em;
   font-weight: 500;
   &:hover {
      background-color: $hover-color;
   }
   &:focus {
      outline: none;
      border: 2px solid #000;
      //   box-shadow: 0 0 0 3px rgba(168, 230, 207, 0.5); // Use pastel green shadow for focus
   }
   &:active {
      background-color: $active-color; // Set active color
   }
}

.nav {
   display: flex;

   &__list {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
   }

   &__item {
      margin-left: 1rem;
   }

   &__link {
      text-decoration: none;
      color: $link-color;
      transition: background-color 0.3s;
   }
}

.heading-logo {
   font-family: fonts.$title-font;
   font-size: 1.5rem;
   color: #333;
   text-decoration: none;
}
