@use "fonts";

@import "header";
@import "main";
@import "footer";
@import "modal";

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   scroll-behavior: smooth;
}

body {
   background-color: #fffaf6;
   font-family: fonts.$main-font;
   font-style: normal;
   font-weight: 400;
   font-size: 1rem;
   color: #333;
}

.wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 0 auto;
}

/* Mobile Devices */
@media (max-width: 480px) {
   .wrapper {
      width: 90%;
   }
}
